body {
  background-image: url("Putrajaya.jpg");
  background-attachment: fixed;
}

hr {
  margin-bottom: 0px;
  margin-top: 0px;
}

.container2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto-fill 50px;
  grid-template-columns: 6fr 1fr;
  grid-gap: 5px;
  grid-template-areas:
  'header header'
  'instructions ads'
  'footer footer';
}


.item1 {
  grid-area: header;
}

.instructions {
  grid-area: instructions;
}

.adsAArea {
  grid-area: adsA;
}

.main-footer {
  grid-area: footer;
}
.logoAndHeader {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.description {
  padding: 40px;
}

h1 {
  margin: 0px;
  margin-left: 30px;
}

h2 {
  font-size: 100px;
  font-family: "Yusei+Magic", sans-serif;
  font-weight: bold;
}

 /*navigation */
.item1 {
  text-align: center;
  background-color: #b3ffb3;
}
.navbar {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 /* body {
     font-family: 'Josefin Sans', sans-serif;
 } */

 .navbar {
     font-size: 50px;
     background-image: linear-gradient(260deg, #2376ae 0%, #004d4d 100%);
     border: 1px solid rgba(0, 0, 0, 0.2);
     padding-bottom: 10px;
 }

 .main-nav a:hover {
    color: #004d4d;
 }

 .main-nav {
     list-style-type: none;
     display: none;
 }

.nav-links {
    font-size: 50px;
}

 .nav-links,
 .nav-menu {
     text-decoration: none;
     color: rgba(255, 255, 255, 0.7);
 }

 .main-nav li {
     text-align: center;
     margin: 5px auto;
 }

 .nav-menu {
     display: inline-block;
     font-size: 50px;
 }

 .navbar-toggle {
     cursor: pointer;
     color: rgba(255, 255, 255, 0.8);
     font-size: 50px;
     padding: 20px 300px 20px 300px;
 }

 .active {
     display: block;
 }

header h1 {
  font-size: 200px;
  font-family: 'Anton', sans-serif;
}

.description {
  font-size: 120px;
}

.btn:hover,
.btn {
  background-color: #3f6eba;
  border: none;
  color: white;
  padding: 20px 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin-left: 50px;
  border-radius: 15px;
}

.btn {
   transition: transform .8s;
}

.btn:hover {
      opacity: 50%;
      transform: scale(1.1);
}

div p {
  font-family: 'Sriracha', cursive;
}


.instructions {
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  font-style: oblique;
  color: black;
  background-color: white;
  background-size: cover;
  opacity: 60%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}


.instructions h2 {
  font-size: 30px;
}

/* Buyer FAQ */
.faq h4 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

.faq {
  opacity: 50%;
}

.faqDetails li {
  background-color: white;
  padding: 20px;
  margin: 30px;
  margin-right:50px;
  border: 5px solid red;
  border-radius: 15px;
}

.faqDetails li h5 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.faqDetails li p {
  font-size: 30px;
  margin-bottom: 10px;
}




/* advertisements */
.ads {
    border: 5px black solid;
}

.ads:hover {
    opacity: 40%;
}

.ads:hover::before {
    content: "Slots are limited, secure it fast!"
    fonts: 15px;
}

/* footer elements */
.main-footer {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  height: 25px;
  background-color:  #b3ffb3;
  padding:20px;
  position: static;
  left: 0;
  bottom: 0;
}

.instaLogo p {
  font-size: 20px;
  display:inline;
  font-family: 'Architects Daughter', cursive;
}

/* media query */
@media (min-width: 1000px) {

/* font size */
  .item h2 {
    font-size: 40px;
  }

  .item p {
    font-size: 20px;
  }

  .item .btn {
    font-size: 20px;
  }

  hr {
    display: none;
  }

  .nav-menu,
  .nav-links {
    font-size: 20px;
  }

.navbar {
   display: flex;
   justify-content: center;
   padding-bottom: 0;
   height: 50px;
   align-items: center;
}

.main-nav {
   display: flex;
   margin-right: 30px;
   flex-direction: row;
   justify-content: flex-end;
}

.main-nav li {
   margin: 0;
}


.nav-links {
   margin-left: 40px;
   padding: 23px 30px 3px 30px;
}

.nav-menu {
   margin-top: 0;
}

.navbar-toggle {
   display: none;
}

.nav-links:hover {
   color: rgba(255, 255, 255, 1);
   background-color: #00cccc;
}

  .item1 p {
    font-size: 50px;
  }

  .container {
    grid-template-rows: 1fr auto-fill 50px;
    grid-template-columns: 6fr 1fr;
    grid-template-areas:
    'header header'
    'instructions ads'
    'footer footer';
  }

  .item {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    max-height: 500px;
  }

  .btn:hover,
  .btn {
    margin-top: auto;
    padding: 10px;
  }

  /* ads */
  .ads {
    max-height: 300px;
    overflow: hidden;
  }


  .adsImgAbove1000 {
    display: block;
  }
}
